@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@font-face {
    font-family: 'daggerSquare';
    src: url('../fonts/DAGGERSQUARE.otf');
}

@font-face {
    font-family: 'daggerSquare-oblique';
    src: url('../fonts/DAGGERSQUARE_OBLIQUE.otf');
}
