@font-face {
    font-family: 'daggerSquare';
    src: url('../../fonts/DAGGERSQUARE.otf');
}

@font-face {
    font-family: 'daggerSquare-oblique';
    src: url('../../fonts/DAGGERSQUARE_OBLIQUE.otf');
}